<?xml version="1.0" encoding="utf-8" ?>
<bundles> <!-- Jai instancié un objet StyleBundle dans BundleConfig.cs - ATTENTION Ce fichier et les balises racines "bundles" doivent exister sinon erreur (Note : Philippe) -->
  <!-- <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/menu.css" />
    <include path="~/Content/jquery-ui.theme.min.css" />
    <include path="~/Content/jquery-ui.structure.min.css" />
    <include path="~/Content/jquery-ui.min.css" />
    <include path="~/Content/jquery-ui.css" />
    <include path="~/Content/jquery-ui.theme.css" />
    <include path="~/Content/jquery-ui.structure.css" />
  </styleBundle> -->
</bundles>