<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx"  timeout="10" path="/"/> <!-- name="adAuthCookie" -->
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <identity impersonate="false"/>
    <compilation debug="true"/>
  </system.web>
</configuration>